$orangeColor: rgb(255, 129, 3);
$roboto: "Roboto", sans-serif;
$background: rgb(31, 39, 76);
// $background: linear-gradient(
//   to right top,
//   #c004f1,
//   #a225f2,
//   #8032f1,
//   #583bef,
//   #0840eb
// );

.app {
  background-color: rgb(31, 39, 76);
  min-height: 100vh;
}

//centralize all the content if the screen size gets bigger then 1521px
.wrapper {
  max-width: 1521px;
  margin: 0 auto;
  background-color: rgb(31, 39, 76);
}

@media screen and (min-width: 376px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
  }

  .navMobile {
    display: none;
  }

  .navHeader {
    z-index: 99;
    display: flex;
    //justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 30px;
    //background-color: rgba(0, 0, 0, 0.703);
    position: fixed;
    width: 100%;
    top: 0;
    height: 40px;
    font-size: 1rem;
    transition: top 0.3s;
    animation-name: dropDown;
    animation-duration: 1s;

    @keyframes dropDown {
      from {
        transform: translateY(-100%);
      }

      to {
        transform: translateY(0%);
      }
    }
  }

  .navLinks {
    list-style: none;
    display: flex;

    a {
      color: white;
      text-decoration: none;
      transition: 0.3s;
      font-size: 1.2rem;
      padding: 0px 20px;
    }

    a:hover {
      color: $orangeColor;
    }
  }

  //LandingPage

  .landingPage {
    background-color: $background;

    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10%;
    justify-items: center;

    h1 {
      margin-bottom: 20px;
      font-size: 4rem;
    }

    span {
      color: $orangeColor;
    }

    .htmlTags {
      color: rgba(255, 128, 0, 0.76);
      font-size: 3.5rem;
    }

    p {
      margin: 0 auto;
      text-shadow: rgb(0, 0, 0) 1px 0 20px;
      font-weight: bold;
      font-size: 1.7rem;
      color: rgb(255, 255, 255);
    }

    .landingText {
      font-family: $roboto;
      font-size: 1.5rem;
      margin-top: 20%;
      margin-left: 50px;
      color: white;
    }
  }

  //About me
//TEST
#aboutMePage {
  //background-image: url("../pictures/sky2.jpg");
  height: 100vh;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
//TEST SLUT

  .aboutMeDiv {
    // display: flex;
    // position: relative;
    // //grid-template-rows: 1fr;
    // height: 100vh;
    // background-color: rgb(31, 39, 76);
    // justify-content: center;

    // .aboutMeText {
    //   text-align: left;
    //   top: 10px;

    //   overflow: auto;
    //   width: 60%;
    //   margin-top: 270px;

    //   height: 500px;
    //   -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
    //   -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
    //   box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
    //   font-family: $roboto;
    //   background: rgba(47, 89, 130, 0.346);
    //   z-index: 1;
    // }

    // .meColor {
    //   position: absolute;
    //   height: 400px;
    //   z-index: 2;
    // }

    // p {
    //   font-size: 1.4rem;
    //   margin-top: 150px;
    //   margin-left: 40px;
    //   margin-right: 40px;
    //   color: white;
    // }

    .aboutMeText {
      height: 550px;
      border-radius: 25px;
      -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
      box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
      background-color: rgba(0, 0, 0, 0.409);
      overflow: auto;
    }
  
    .textAboutMe {
      font-size: 1.2rem;
      padding-top: 2rem;
      padding-left: 5rem;
      padding-right: 5rem;
      color: rgb(255, 255, 255);
      text-align: left;
    }
  
    .knowledge {
      margin-top: 4rem;
      color: white;
      text-align: center;
    }
  
    h4 {
      color: rgb(246, 168, 79);
    }
  
    span {
      color: rgb(246, 168, 79);
      font-size: 1.5rem;
    }
  
    .knowledgeP {
      transition: 0.2s;
      line-height: 0;
      font-size: 1.5rem;
      span {
        color: rgb(254, 136, 0);
      }
    }
  
    .knowledgeP:hover {
      transform: scale(1.5);
    }

    .meColor{
      margin-left: auto;
      margin-right: auto;
      width: 35rem
    }
  }

  //Portfolio

  //A mixin with the properties for the different event divs.
  @mixin project {
    // margin-top: 20%;
    // margin-left: 15%;
    // height: 55%;

    // width: 79%;
    background: rgba(0, 0, 0, 0.5);
  }

  .portfolio {
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    //height: 100vh;
    color: #ffffff;
    background-color: $background;

    .projectOne {
      .quiz {
        @include project;
        border-radius: 25px;
        overflow: auto;
        margin-top: 30%;

        .quizPic {
          width: 100%;
          // width: 120px;
          // height: 120px;
          object-fit: cover;
          margin-bottom: 50px;
        }

        p,
        ul {
          margin: 0 auto;
          font-size: 1.5rem;
          font-family: $roboto;
          list-style: none;
        }

        li {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: $orangeColor;
        }
      }
    }

    .projecTwo {
      .yatzy {
        @include project;
        border-radius: 25px;
        overflow: auto;
        margin-top: 30%;

        .yatzyPic {
          // width: 100%;
          width: 100%;
          // width: 120px;
          // height: 120px;
          object-fit: cover;
          margin-bottom: 50px;
        }

        p,
        ul {
          margin: 0 auto;
          font-size: 1.5rem;
          font-family: $roboto;
          list-style: none;
        }

        li {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: $orangeColor;
        }
      }
    }

    .projecThree {
      .event {
        @include project;
        border-radius: 25px;
        overflow: auto;
        margin-top: 30%;

        .eventPic {
          //width: 100%;
          width: 100%;
          // width: 120px;
          // height: 120px;
          object-fit: cover;
          margin-bottom: 50px;
        }

        p,
        ul {
          margin: 0 auto;
          font-size: 1.5rem;
          font-family: $roboto;
          list-style: none;
        }

        li {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: $orangeColor;
        }
      }
    }
  }

  //Contact

  .contactDiv {
    //display: inline;
    // display: grid;
    display: flex;
    // grid-template-columns: 25% auto 25%;
    // grid-template-rows: 25% auto 25%;
    //height: 100vh;
    background-color: $background;

    .contactInfo {
      border-radius: 25px;
      margin-top: 10%;
      margin-left: 15%;
      // grid-column-start: 2;
      // grid-row-start: 2;

      // height: 430px;
      // width: 750px;
      background-color: rgba(147, 149, 147, 0.367);
      -webkit-box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);
      box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);

      h1 {
        font-family: $roboto;
        margin: 30px;
        color: $orangeColor;
        font-size: 2.3rem;
      }

      ul {
        margin-left: 20px;
        margin-top: 40px;
        font-size: 1.5rem;
        font-family: $roboto;
        list-style: none;
        color: white;
      }

      li {
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: white;
      }

      a:hover {
        color: $orangeColor;
      }

      .logos {
        height: 50px;
        margin-top: 140px;
        margin-right: 20px;
        padding-bottom: 10%;
        // display: grid;
        // grid-template-columns: 65px 65px 65px 65px;
        display: flex;
        //justify-items: end;
        justify-content: flex-end;

        #facebook,
        #linktedIn,
        #gitHub {
          height: 50px;
          margin-left: 10px;
          transition: 0.2s;
        }

        #mail {
          height: 55px;
          transition: 0.2s;
        }
      }

      #mail:hover {
        transform: scale(1.2);
      }

      #gitHub:hover {
        transform: scale(1.2);
      }

      #linktedIn:hover {
        transform: scale(1.2);
      }

      #facebook:hover {
        transform: scale(1.2);
      }
    }
  }
}

//Mobile view
@media screen and (max-width: 900px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: $background;
  }

  //Remove the desktop nav bar when in mobile view
  .navHeader {
    display: none;
  }

  //Nav bar in mobile view
  .navMobileLinks {
    display: inline;

    .navMobile {
      z-index: 3;
      position: absolute;
      background-color: rgb(31, 39, 76);
      width: 355px;
      height: 100%;
      left: -355px;
      transition: 0.5s;
      padding-top: 200px;
    }
    .navMobile.active {
      position: absolute;
      left: 0px;
    }
    .slideOut {
      position: absolute;
      left: 800px;
      animation-name: slideOut;
      animation-duration: 2s;
    }

    @keyframes slideOut {
      0% {
        transform: translateX(0%);
        opacity: 0;
      }

      100% {
        transform: translateX(200%);
        opacity: 1;
      }
    }

    #hamburger {
      position: fixed;
      cursor: pointer;
      left: 85%;
      top: 5.5%;
      z-index: 4;
      animation-name: scaleUp;
      animation-duration: 2s;
    }

    .line {
      width: 30px;
      height: 3px;
      background: $orangeColor;
      margin: 5px;
    }

    @keyframes scaleUp {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .navMobile a {
      display: block;
      padding: 20px 30px;
      font-size: 25px;
      font-family: $roboto;
      text-decoration: none;
      color: orange;
    }
  }

  //Landing page
  .landingPage {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    background-color: $background;

    h1 {
      margin-top: 90px;
      margin-bottom: 20px;
      font-size: 4rem;
    }

    .slideRight {
      animation-name: slideRight;
      animation-duration: 1s;
    }

    @keyframes slideRight {
      0% {
        transform: translateX(-100%);
        opacity: 0;
      }

      100% {
        transform: translateX(0%);
        opacity: 1;
      }
    }

    span {
      color: $orangeColor;
    }

    p {
      margin: 0 auto;
      text-shadow: rgb(0, 0, 0) 1px 0 20px;
      font-weight: bold;
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
    }

    .htmlTags {
      color: rgba(255, 128, 0, 0.76);
      font-size: 3.5rem;
    }

    .slideUp {
      animation-name: slideUp;
      animation-duration: 1.2s;
    }

    @keyframes slideUp {
      from {
        transform: translateY(100%);
        opacity: 0;
      }

      to {
        transform: translateY(0%);
        opacity: 1;
      }
    }

    .landingText {
      position: relative;
      font-family: $roboto;
      font-size: 1.5rem;
      margin-top: 30%;
      margin-left: 50px;
      color: white;
    }
  }

  //About me
  // .aboutMe {
  //   // display: grid;
  //   // grid-template-columns: 1fr;
  //   .aboutMeDiv {
  //     display: grid;
  //     grid-template-columns: auto;
  //     height: 100%;
  //     background-color: $background;

  //     .aboutMeText {
  //       position: relative;
  //       //display: grid;

  //       // overflow: auto;
  //       width: 90%;
  //       margin: 90px auto;
  //       height: auto;
  //       -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
  //       -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
  //       box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
  //       font-family: $roboto;
  //       background: rgba(47, 89, 130, 0.346);
  //     }

  //     .meColor {
  //       margin-left: 55px;
  //       margin-top: 0px;
  //       height: 200px;
  //       max-width: 100%;
  //       position: absolute;
  //       z-index: 2;
  //       text-align: center;
  //     }

  //     p {
  //       font-size: 1.2rem;
  //       margin: 150px 5px 20px 5px;
  //       color: white;
  //     }
  //   }
  // }

  //TEST
  #aboutMePage {
    //background-image: url("../pictures/sky2.jpg");
    // height: 100vh;
    // background-size: cover;
    // background-position-x: center;
    // background-position-y: center;
  }
  
  .aboutMe {
    .aboutMeText {
      //height: 550px;
      border-radius: 25px;
      -webkit-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
      -moz-box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
      box-shadow: 8px 8px 30px 0px rgba(0, 0, 0, 1);
      background-color: rgba(0, 0, 0, 0.409);
     overflow: auto;
    }
  
    .textAboutMe {
      font-size: 1.2rem;
      padding-top: 5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      color: rgb(255, 255, 255);
      text-align: left;
    }
  
    .knowledge {
      margin-top: 4rem;
      color: white;
      text-align: center;
    }
  
    h4 {
      color: rgb(246, 168, 79);
    }
  
    span {
      color: rgb(246, 168, 79);
      font-size: 1.5rem;
    }
  
    .knowledgeP {
      transition: 0.2s;
      line-height: 0;
      font-size: 1.5rem;
      span {
        color: rgb(254, 136, 0);
      }
    }

    .meColor{
      margin-left: auto;
      margin-right: auto;
      width: 20rem
    }
  }
  //SLUT TEST

  @mixin project {
    // margin-top: 20%;
    // margin-left: 15%;
    // height: 55%;

    // width: 79%;
    background: rgba(0, 0, 0, 0.5);
  }

  .portfolio {
    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr;
    //height: 100vh;
    color: #ffffff;
    background-color: $background;

    .projectOne {
      .quiz {
        @include project;
        border-radius: 25px;
        overflow: auto;
        margin-top: 30%;

        .quizPic {
          width: 100%;
          // width: 120px;
          // height: 120px;
          object-fit: cover;
          margin-bottom: 50px;
        }

        p,
        ul {
          margin: 0 auto;
          font-size: 1.5rem;
          font-family: $roboto;
          list-style: none;
        }

        li {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: $orangeColor;
        }
      }
    }

    .projecTwo {
      .yatzy {
        @include project;
        border-radius: 25px;
        overflow: auto;
        margin-top: 30%;

        .yatzyPic {
          // width: 100%;
          width: 100%;
          // width: 120px;
          // height: 120px;
          object-fit: cover;
          margin-bottom: 50px;
        }

        p,
        ul {
          margin: 0 auto;
          font-size: 1.5rem;
          font-family: $roboto;
          list-style: none;
        }

        li {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: $orangeColor;
        }
      }
    }

    .projecThree {
      .event {
        @include project;
        border-radius: 25px;
        overflow: auto;
        margin-top: 30%;

        .eventPic {
          //width: 100%;
          width: 100%;
          // width: 120px;
          // height: 120px;
          object-fit: cover;
          margin-bottom: 50px;
        }

        p,
        ul {
          margin: 0 auto;
          font-size: 1.5rem;
          font-family: $roboto;
          list-style: none;
        }

        li {
          padding: 10px;
        }

        a {
          text-decoration: none;
          color: $orangeColor;
        }
      }
    }
  }

  //Contact page
  .contactDiv {
    //display: inline;
    // display: grid;
    display: flex;
    // grid-template-columns: 25% auto 25%;
    // grid-template-rows: 25% auto 25%;
    //height: 100vh;
    background-color: $background;

    #mobileTextSize {
      font-size: 1.7rem;
    }

    .contactInfo {
      border-radius: 25px;
      margin-top: 50%;

      width: 100%;
      // grid-column-start: 2;
      // grid-row-start: 2;

      // height: 430px;
      // width: 750px;
      background-color: rgba(147, 149, 147, 0.367);
      -webkit-box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);
      box-shadow: 11px 14px 22px -1px rgba(0, 0, 0, 0.66);

      h1 {
        font-family: $roboto;
        margin: 30px;
        color: $orangeColor;
        font-size: 2.3rem;
      }

      ul {
        margin-left: 20px;
        margin-top: 40px;
        font-size: 1.5rem;
        font-family: $roboto;
        list-style: none;
        color: white;
      }

      li {
        padding: 10px;
      }

      a {
        text-decoration: none;
        color: white;
      }

      a:hover {
        color: $orangeColor;
      }

      .logos {
        height: 50px;
        margin-top: 140px;
        margin-right: 20px;
        padding-bottom: 20%;
        // display: grid;
        // grid-template-columns: 65px 65px 65px 65px;
        display: flex;
        //justify-items: end;
        justify-content: flex-end;

        #facebook,
        #linktedIn,
        #gitHub {
          height: 50px;
          margin-left: 10px;
          transition: 0.2s;
        }

        #mail {
          height: 55px;
          transition: 0.2s;
        }
      }

      #mail:hover {
        transform: scale(1.2);
      }

      #gitHub:hover {
        transform: scale(1.2);
      }

      #linktedIn:hover {
        transform: scale(1.2);
      }

      #facebook:hover {
        transform: scale(1.2);
      }
    }
  }
}
